In [88]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns

In [89]:
# reading datasets
bb_usage = pd.read_csv("data/user_profile/BB_Usage_Categorical.csv")
voice_onnet_incoming_usage = pd.read_csv("data/user_profile/VOICE_ONNET_INCOMING_Usage_Categorical.csv")
voice_onnet_outgoing_usage = pd.read_csv("data/user_profile/VOICE_ONNET_OUTGOING_Usage_Categorical.csv")
voice_offnet_incoming_usage = pd.read_csv("data/user_profile/VOICE_OFFNET_INCOMING_Usage_Categorical.csv")
voice_offnet_outgoing_usage = pd.read_csv("data/user_profile/VOICE_OFFNET_OUTGOING_Usage_Categorical.csv")
voice_IDD_incoming_usage = pd.read_csv("data/user_profile/VOICE_IDD_Incoming_Usage_Categorical.csv")
peo_tv_usage = pd.read_csv("data/user_profile/PEO_TV_Usage_Categorical.csv")

# product details
acc_nums_product = pd.read_csv("data/user_profile/Product_Map_Per_Account_Name.csv")

In [90]:
# locations
bb_location = pd.read_csv("data/user_profile/BB_USAGE_Locations_of_Users.csv")
voice_onnet_incoming_location = pd.read_csv("data/user_profile/VOICE_ONNET_INCOMING_Locations_of_Users.csv")
voice_onnet_outgoing_location = pd.read_csv("data/user_profile/VOICE_ONNET_OUTGOING_Locations_of_Users.csv")
voice_offnet_incoming_location = pd.read_csv("data/user_profile/VOICE_OFFNET_INCOMING_Locations_of_Users.csv")
voice_offnet_outgoing_location = pd.read_csv("data/user_profile/VOICE_OFFNET_OUTGOING_Locations_of_Users.csv")
voice_IDD_incoming_location = pd.read_csv("data/user_profile/VOICE_IDD_INCOMING_Locations_of_Users.csv")
peo_tv_location = pd.read_csv("data/user_profile/PEO_TV_Locations_of_Users.csv")

# Data perapration

In [91]:
bb_usage = bb_usage[['Unnamed: 0','Usage_Rating_Categorical',]]
bb_usage.rename(columns={'Unnamed: 0': 'event_source'}, inplace=True)
bb_usage.drop_duplicates("event_source", inplace=True)
bb_usage.drop([0,1], axis=0, inplace=True)
bb_usage

     event_source Usage_Rating_Categorical
2       AD2050144                      LOW
3       AD2050456                      LOW
4       AD2055583                      LOW
5       AD2057596                     HIGH
6       AD2234019                      LOW
...           ...                      ...
1301    WY2246088                   MEDIUM
1302    WY2246276                      LOW
1303    WY2246709                     HIGH
1304    WY2257144                      LOW
1305    WY2257510                      LOW

[1304 rows x 2 columns]

In [92]:
voice_onnet_incoming_usage = voice_onnet_incoming_usage[['event_source','Usage_Rating_Categorical']]
voice_onnet_incoming_usage.drop_duplicates("event_source", inplace=True)
voice_onnet_incoming_usage

      event_source Usage_Rating_Categorical
0        112053582                      LOW
1        112053623                      LOW
2        112053643                      LOW
3        112054356                      LOW
4        112055452                      LOW
...            ...                      ...
3231     912286838                      LOW
3232     912286932                      LOW
3233     912286996                      LOW
3234     912287030                      LOW
3235     912287049                      LOW

[3236 rows x 2 columns]

In [93]:
voice_onnet_outgoing_usage = voice_onnet_outgoing_usage[['event_source','Usage_Rating_Categorical']]
voice_onnet_outgoing_usage.drop_duplicates("event_source", inplace=True)
voice_onnet_outgoing_usage

      event_source Usage_Rating_Categorical
0        112053582                      LOW
1        112053623                   MEDIUM
2        112053643                      LOW
3        112054356                      LOW
4        112055452                   MEDIUM
...            ...                      ...
3302     912286932                      LOW
3303     912286967                      LOW
3304     912286996                      LOW
3305     912287030                      LOW
3306     912287049                      LOW

[3307 rows x 2 columns]

In [94]:
voice_offnet_incoming_usage = voice_offnet_incoming_usage[['event_source','Usage_Rating_Categorical']]
voice_offnet_incoming_usage.drop_duplicates("event_source", inplace=True)
voice_offnet_incoming_usage

      event_source Usage_Rating_Categorical
0        112053582                      LOW
1        112053623                      LOW
2        112053643                     HIGH
3        112054356                      LOW
4        112055452                      LOW
...            ...                      ...
3324     912286932                   MEDIUM
3325     912286967                      LOW
3326     912286996                      LOW
3327     912287030                      LOW
3328     912287049                      LOW

[3329 rows x 2 columns]

In [95]:
voice_offnet_outgoing_usage = voice_offnet_outgoing_usage[['event_source','Usage_Rating_Categorical']]
voice_offnet_outgoing_usage.drop_duplicates("event_source", inplace=True)
voice_offnet_outgoing_usage

      event_source Usage_Rating_Categorical
0        112053582                   MEDIUM
1        112053623                      LOW
2        112053643                     HIGH
3        112054356                      LOW
4        112055452                      LOW
...            ...                      ...
3186     912286932                   MEDIUM
3187     912286967                      LOW
3188     912286996                      LOW
3189     912287030                      LOW
3190     912287049                      LOW

[3191 rows x 2 columns]

In [96]:
voice_IDD_incoming_usage = voice_IDD_incoming_usage[['event_source','Usage_Rating_Categorical']]
voice_IDD_incoming_usage.drop_duplicates("event_source", inplace=True)
voice_IDD_incoming_usage

      event_source Usage_Rating_Categorical
0        112053643                      LOW
1        112055691                     HIGH
2        112055692                      LOW
3        112055693                      LOW
4        112058059                      LOW
...            ...                      ...
1192     912255127                      LOW
1193     912286091                      LOW
1194     912286158                      LOW
1195     912286560                   MEDIUM
1196     912286838                      LOW

[1197 rows x 2 columns]

In [97]:
peo_tv_usage = peo_tv_usage[['Phone_Number','Peo_TV_Package','Usage_Rating_Categorical']]
peo_tv_usage.drop_duplicates("Phone_Number", inplace=True)
peo_tv_usage

      Phone_Number   Peo_TV_Package Usage_Rating_Categorical
0        912287049      PEO_UTHAYAM                     HIGH
1        912286967       PEO_SILVER                      LOW
2        912286838       PEO_SILVER                   MEDIUM
3        912286639      PEO_UTHAYAM                       NO
4        912286560       PEO_SILVER                     HIGH
...            ...              ...                      ...
1423     112058317       PEO_SILVER                     HIGH
1424     112058059       PEO_SILVER                       NO
1425     112054356       PEO_SILVER                   MEDIUM
1426     112053643  PEO_SILVER_PLUS                   MEDIUM
1427     112053582       PEO_SILVER                      LOW

[1428 rows x 3 columns]

In [98]:
# location from voice onnet outgoing
# justification: this has the max no of subscribers
voice_onnet_outgoing_location = voice_onnet_outgoing_location[['event_source','Location_Identifier']]
voice_onnet_outgoing_location.drop_duplicates("event_source", inplace=True)
voice_onnet_outgoing_location

      event_source              Location_Identifier
0        112074723  MSAG5200-ISLIDH-KGW-NODE6194491
1        112074735  MSAG5200-ISLIDH-KGW-NODE6194491
2        112074768  MSAG5200-ISLIDH-KGW-NODE6194491
3        332286609    MSAG5200-ISLPC-AGT-NODE480031
4        522237151         C300MNW-MEE-NODE18887751
...            ...                              ...
3302     242050027    MSAG5200-ISLVA-NKM-NODE481961
3303     112810886    MSAG5200-ISLND-PHG-NODE500241
3304     112768419    MSAG5200-ISLND-PHG-NODE500241
3305     382247076        MSAG5200PH-AKG-NODE431631
3306     382247139        MSAG5200PH-AKG-NODE431631

[3307 rows x 2 columns]

In [106]:
acc_nums_product

,Unnamed: 0,ACCOUNT_NUM,PRODUCT_LABEL,Product_Count,PRODUCT_NAMES,PRODUCT_LABELS,PRODUCT_DICT
0,0,0000485266,5402510200,48,"['V_Call Forwarding - Immediate', 'V_Call Forw...","[112889887, 112889887, 112411777, 112411777, 1...","[{112889887: 'V_Call Forwarding - Immediate'},..."
1,1,0000844614,452288454,1,['M_Activation Charge'],[452288454],[{452288454: 'M_Activation Charge'}]
2,2,0000892896,664570176,2,"['V_Call Forwarding', 'V_Hotline Service']","[332285088, 332285088]","[{332285088: 'V_Call Forwarding'}, {332285088:..."
3,3,0001018689,1124105700,10,"['V_Call Waiting', 'V_Hotline Service', 'V_Abs...","[112410570, 112410570, 112410570, 112410570, 1...","[{112410570: 'V_Call Waiting'}, {112410570: 'V..."
4,4,0001020421,337232244,3,"['E_Video on Demand', 'E_PeoTV Initiation', 'E...","[112410748, 112410748, 112410748]","[{112410748: 'E_Video on Demand'}, {112410748:..."
...,...,...,...,...,...,...,...
409,409,0044612965,382221061,1,['V_Installment'],[382221061],[{382221061: 'V_Installment'}]
410,410,0044613050,382221058,1,['V_Installment'],[382221058],[{382221058: 'V_Installment'}]
411,411,0044613157,382221060,1,['V_Installment'],[382221060],[{382221060: 'V_Installment'}]
412,412,004461323X,382221063,1,['V_Installment'],[382221063],[{382221063: 'V_Installment'}]
413,413,0044620323,382221009,1,['V_Installment'],[382221009],[{382221009: 'V_Installment'}]

# User Profile : Usage

In [103]:
usage_df = voice_onnet_outgoing_usage.merge(voice_onnet_incoming_usage,how='left', left_on='event_source', right_on='event_source')
usage_df.rename(columns={'Usage_Rating_Categorical_x':'ONNET_OUTGOING_Usage', 'Usage_Rating_Categorical_y':'ONNET_INCOMING'}, inplace="True")

usage_df = usage_df.merge(voice_offnet_outgoing_usage,how='left', left_on='event_source', right_on='event_source')
usage_df.rename(columns={'Usage_Rating_Categorical':'OFFNET_OUTGOING_Usage'}, inplace="True")

usage_df = usage_df.merge(voice_offnet_incoming_usage,how='left', left_on='event_source', right_on='event_source')
usage_df.rename(columns={'Usage_Rating_Categorical':'OFFNET_INCOMING_Usage'}, inplace="True")

usage_df = usage_df.merge(voice_IDD_incoming_usage,how='left', left_on='event_source', right_on='event_source')
usage_df.rename(columns={'Usage_Rating_Categorical':'IDD_INCOMING_Usage'}, inplace="True")

usage_df = usage_df.merge(peo_tv_usage,how='left', left_on='event_source', right_on='Phone_Number')
usage_df.rename(columns={'Usage_Rating_Categorical':'PEO_TV_Usage'}, inplace="True")

usage_df.drop('Phone_Number', axis=1, inplace=True)

# concat BB usage code here

# concat user location identifier
usage_df = usage_df.merge(voice_onnet_outgoing_location,how='left', left_on='event_source', right_on='event_source')

usage_df.fillna("NO", inplace=True)
usage_df

,event_source,ONNET_OUTGOING_Usage,ONNET_INCOMING,OFFNET_OUTGOING_Usage,OFFNET_INCOMING_Usage,IDD_INCOMING_Usage,Peo_TV_Package,PEO_TV_Usage,Location_Identifier
0,112053582,LOW,LOW,MEDIUM,LOW,NO,PEO_SILVER,LOW,MSAG5200-ISLWI-NWT-NODE485201
1,112053623,MEDIUM,LOW,LOW,LOW,NO,NO,NO,MSAG5200-ISLWI-NWT-NODE485201
2,112053643,LOW,LOW,HIGH,HIGH,LOW,PEO_SILVER_PLUS,MEDIUM,MSAG5200-ISLWI-NWT-NODE485201
3,112054356,LOW,LOW,LOW,LOW,NO,PEO_SILVER,MEDIUM,MSAG5200-ISLWI-NWT-NODE485201
4,112055452,MEDIUM,LOW,LOW,LOW,NO,NO,NO,MSAG5200-ISLHK-OCC-NODE506561
...,...,...,...,...,...,...,...,...,...
3302,912286932,LOW,LOW,MEDIUM,MEDIUM,NO,NO,NO,UA5000(IPMB)IM-NODE391531
3303,912286967,LOW,NO,LOW,LOW,NO,PEO_SILVER,LOW,UA5000(IPMB)IM-NODE391531
3304,912286996,LOW,LOW,LOW,LOW,NO,NO,NO,UA5000(IPMB)IM-NODE391531
3305,912287030,LOW,LOW,LOW,LOW,NO,NO,NO,UA5000(IPMB)IM-NODE391531
3306,912287049,LOW,LOW,LOW,LOW,NO,PEO_UTHAYAM,HIGH,UA5000(IPMB)IM-NODE391531

In [104]:
usage_df.dtypes

event_source              int64
ONNET_OUTGOING_Usage     object
ONNET_INCOMING           object
OFFNET_OUTGOING_Usage    object
OFFNET_INCOMING_Usage    object
IDD_INCOMING_Usage       object
Peo_TV_Package           object
PEO_TV_Usage             object
Location_Identifier      object
dtype: object

## ToDo
- way to connect BB data with usage dataframe, as it has different event_source identity
- way to contact package details (account No vs. event source)
- BB and VOICE packages

In [105]:
usage_df.to_csv("data/user_profile/prepared/User_Profile.csv")