In [78]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import ast

In [79]:
user_profile = pd.read_csv("data/user_profile/prepared/User_Profile.csv")

/home/chiran/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,6,7,9,10,12,13,15,16,18,19,20,22,24,25,26,28,30,34,35,36,37,75,76) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [80]:
vas_final_df = pd.read_csv("data/user_profile/VAS_Final_list.csv")

In [81]:
vas_final_df.drop(["Unnamed: 0","ACCOUNT_NUM.hash","CUSTOMER_REF.hash","One_Time_Charge"],axis=1,inplace=True)

In [82]:
vas_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569336 entries, 0 to 569335
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   event_source.hash  569336 non-null  object
 1   VAS                569336 non-null  object
 2   Month_Subscribed   569336 non-null  object
 3   Rental             468621 non-null  float64
 4   VAS_Type           569336 non-null  object
dtypes: float64(1), object(4)
memory usage: 21.7+ MB

## User - package ratings

In [83]:
vas_final_df["rating"]=1

In [107]:
vas_agg_df = vas_final_df.groupby(['event_source.hash','VAS']).agg(sum)

In [108]:
vas_agg_df.reset_index(level=0, inplace=True)
vas_agg_df.reset_index(level=0, inplace=True)

In [110]:
vas_agg_df=vas_agg_df[["event_source.hash","VAS","rating"]]

In [114]:
vas_agg_df.rename(columns={"VAS":"package"},inplace=True)

In [115]:
vas_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119046 entries, 0 to 119045
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   event_source.hash  119046 non-null  object
 1   package            119046 non-null  object
 2   rating             119046 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

In [116]:
vas_agg_df["rating"].value_counts()

1     89091
2      6690
26     3836
7      3531
5      2821
60     2814
24     2251
6      1862
4       871
12      862
30      744
35      645
11      577
10      557
3       471
22      366
9       323
16      263
8       207
17      142
33       61
14       32
18       23
21        2
19        2
13        2
Name: rating, dtype: int64

In [118]:
vas_agg_df["package"].unique()

array(['AB_Copper Access Bearer', 'E_SLT PeoTV Service', 'P_Sisu Connect',
       'V_SLT Voice Service', 'V_Sisu Connect', 'AB_WireLess Access',
       'BB Personal Storage', 'BB_Report Subscription Charge',
       'BB_YouTube Bundle', 'C_Sisu Connect', 'Edu Lite', 'Meet Lite',
       'Meet Max', 'P-Basic1_Tele Life',
       'PEO TV GO_OTT_A-la carte channels', 'V-Basic1_TeleLife',
       'V_E-channeling Subscription', 'BB_PeoTVGO', 'BB_Personal Storage',
       'BB_SLT BroadBand Service', 'V_E-channeling Registration',
       'BB_ Entertainment Unlimited', 'BB_PeoTVGO Revenue code',
       'V_Abbreviated Dialing', 'V_Absentee service', 'V_Call Forwarding',
       'V_Call Forwarding-Immediate', 'V_Call Forwarding-No Answer',
       'V_Call Forwarding-On Busy', 'V_Call Transfer Three way',
       'V_Call Waiting', 'V_DQ Contact Details', 'V_IDD', 'V_SLT CLI',
       'V_Single VAS Bundle', 'PeoTVGo_Channel Package', 'V_Telehealth',
       'P-Plus1_Tele Life', 'AB_Fiber Access Bearer',
       'BB_Messenger Bundle', 'E_TSTV', 'E_Video on Demand',
       'V-Plus1_TeleLife', 'E_PeoTV Initiation', 'AB_Megaline',
       'V_Hotline Service', 'V_Call Barring - Outgoing',
       'V_Cordeless Phone - Installment', 'BB_Detailed Reports ',
       'AB_Referral offer Discount', 'E_Referral offer Discount',
       'V_Hotline-Time Delayed', 'V_Installment', 'AB_Megaline Startup',
       'V_Call Forwarding Offline', 'V_Call Forwarding by time',
       'V_Call holding', 'V_Incoming Call Memory',
       'V_Incoming Call Transfer', 'V_Outgoing Call Memory',
       'AB_Service Vacation', 'V_Anonymous call barring',
       'V_CLI presentation in call waiting', 'V_Call back on busy',
       'V_Call park', 'V_Caller Line Identification',
       'V_Hotline-Immediate', 'V_Basic Phone Installment',
       'AB_Relocation', 'Package Rental Through ADSL',
       'BB_SLT Film Hall Service', 'M_Activation Charge',
       'AB_Citylink Loyalty Rewards', 'V_Double VAS Bundle',
       'V_One-Time Detailed Bill', 'AB_Rental Free',
       'V_Voice Startup Fee', 'DQ_Contact Details', 'P_IDD', 'P_Megaline',
       'P_SLT CLI', 'P-Plus4_Tele Life', 'V-Plus4_TeleLife',
       'V_Short Message Service', 'E_PeoTV_Package Transfer',
       'V_Call forwarding selective',
       'V_Caller name identificationPresentation',
       'V_Caller name sending', 'V_Complete call on no response',
       'V_Do not disturb service',
       'V_Password call barring (secret code)', 'V_Secretary service',
       'V_Selective call acceptance', 'V_Selective call rejection',
       'V_Selective call waiting', 'P-Basic2_Tele Life',
       'AB_Additional Distance', 'C-Basic1_Tele Life', 'V_Call Barring',
       'V_Triple VAS Bundle', 'V_Call Forwarding - Immediate',
       'V_Railway Registration', 'V-Basic2_TeleLife', 'OTT_SLT PeoTV Go',
       'V_Call Forwarding - No Answer', 'V_Call Forwarding - On Busy',
       'P-Basic4_Tele Life', 'V-Basic4_TeleLife',
       'P_Additional features -Double VAS Bundle',
       'P_Anonymous call barring', 'P_CLI presentation in call waiting',
       'P_Call Forwarding Offline', 'P_Call Forwarding by time',
       'P_Call Transfer Three way', 'P_Call back on busy',
       'P_Call holding', 'P_Call park', 'P_Incoming Call Memory',
       'P_Incoming Call Transfer', 'P_Megaline New Connection',
       'P_Outgoing Call Memory', 'V_Detailed Bill', 'V_Basic Phone',
       'V_Miscellaneous Service', 'AB_Parallel line Installation',
       'P_One-Time Detailed Bill', 'P_Removal of Int & Parallel Ext',
       'V_Referral offer Discount'], dtype=object)

In [119]:
vas_agg_df

                       event_source.hash                  package  rating
0       00099ff6e175f2b49e7067b20d69e4c3  AB_Copper Access Bearer       1
1       00099ff6e175f2b49e7067b20d69e4c3      E_SLT PeoTV Service       1
2       00099ff6e175f2b49e7067b20d69e4c3           P_Sisu Connect       1
3       00099ff6e175f2b49e7067b20d69e4c3      V_SLT Voice Service       1
4       00099ff6e175f2b49e7067b20d69e4c3           V_Sisu Connect       1
...                                  ...                      ...     ...
119041  ffff43d0cc07aff0964f0ae29aa10363                 Edu Lite       1
119042  ffff43d0cc07aff0964f0ae29aa10363                Meet Lite       2
119043  ffff43d0cc07aff0964f0ae29aa10363                 Meet Max       1
119044  ffff43d0cc07aff0964f0ae29aa10363       P-Basic1_Tele Life       1
119045  ffff43d0cc07aff0964f0ae29aa10363      V_SLT Voice Service       1

[119046 rows x 3 columns]

In [120]:
vas_agg_df.to_csv("data/azure/VAS_user_ratings.csv")

## User content

In [123]:
user_profile.drop(["Unnamed: 0"],axis=1,inplace=True)

In [133]:
user_profile["Sub_Update_Status"].value_counts()

Promotion Upgrade      17193
Promotion Downgrade     2455
Name: Sub_Update_Status, dtype: int64

In [134]:
user_df=user_profile.iloc[:,[0,29,38,39,30,32,58,59,64,65,67,69,71,73,75]]

In [135]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27555 entries, 0 to 27554
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   event_source.hash                    27555 non-null  object
 1   Location_Identifier                  3078 non-null   object
 2   Sub_Type                             27555 non-null  object
 3   Sub_Usage                            27555 non-null  object
 4   GENDER                               4104 non-null   object
 5   AGE                                  4104 non-null   float64
 6   Sub_Update_Status                    19648 non-null  object
 7   Sub_Update                           19648 non-null  object
 8   Having_Insurance                     2747 non-null   object
 9   Having_Senior_Citizen_Scaled         27555 non-null  float64
 10  Having_Kids_at_Home_Scaled           27555 non-null  float64
 11  Having_Teenagers_Students_Scaled     27555 non-null  float64
 12  Having_Working_Professionals_Scaled  27555 non-null  float64
 13  Having_Family_Member_Abroad_Scaled   27555 non-null  float64
 14  Tamil_Customer                       204 non-null    object
dtypes: float64(6), object(9)
memory usage: 3.2+ MB

### Handeling Null Values

In [136]:
cat_cols = ['Tamil_Customer', 'Having_Insurance']

user_df[cat_cols] = user_df[cat_cols].fillna("NO")

#voice_udf[scaled_cols] = voice_udf[scaled_cols].fillna(0)

/home/chiran/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [137]:
user_df.to_csv("data/azure/VAS_user_content.csv")

## Product (package) content

In [138]:
product_profile = pd.read_csv("data/product_catalog/Product_Profile_Finalised_CSV.csv")

In [140]:
product_df=product_profile.iloc[:,[0,1,2,3,5,6,14,15,35,37,38,39,42,43,44]]
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_ID         263 non-null    object
 1   Base_Type          241 non-null    object
 2   Pricing_Type       134 non-null    object
 3   Package_Type       134 non-null    object
 4   Title              134 non-null    object
 5   Description        47 non-null     object
 6   Price              133 non-null    object
 7   Monthly_Rental     141 non-null    float64
 8   Subscription_Type  151 non-null    object
 9   Recidence_Type     134 non-null    object
 10  Tax_Status         131 non-null    object
 11  Conditions         131 non-null    object
 12  Transfer_Medium    19 non-null     object
 13  TARIFF_NAME        22 non-null     object
 14  TARIFF_DESC        22 non-null     object
dtypes: float64(1), object(14)
memory usage: 30.9+ KB

In [142]:
temp_package_df=vas_agg_df["package"]

In [143]:
vas_products_df = product_df.merge(temp_package_df.drop_duplicates(), left_on=['Product_ID'], right_on=['package'] ,
                   how='left', indicator=True)

In [144]:
product_df = vas_products_df[(vas_products_df["_merge"]=="both")]

In [145]:
product_df.drop(["package","_merge"],axis=1,inplace=True)
product_df.rename(columns={'Product_ID':'package'},inplace=True)
product_df.reset_index(drop=True, inplace=True)

/home/chiran/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/home/chiran/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [148]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   package            128 non-null    object
 1   Base_Type          107 non-null    object
 2   Pricing_Type       0 non-null      object
 3   Package_Type       0 non-null      object
 4   Title              0 non-null      object
 5   Description        0 non-null      object
 6   Price              3 non-null      object
 7   Monthly_Rental     26 non-null     float64
 8   Subscription_Type  16 non-null     object
 9   Recidence_Type     0 non-null      object
 10  Tax_Status         0 non-null      object
 11  Conditions         0 non-null      object
 12  Transfer_Medium    18 non-null     object
 13  TARIFF_NAME        21 non-null     object
 14  TARIFF_DESC        21 non-null     object
dtypes: float64(1), object(14)
memory usage: 15.1+ KB

In [149]:
# Many columns have no values. Dropping 
product_df.drop(["Pricing_Type","Package_Type","Title","Description","Recidence_Type","Tax_Status","Conditions"],axis=1,inplace=True)

/home/chiran/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [150]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   package            128 non-null    object
 1   Base_Type          107 non-null    object
 2   Price              3 non-null      object
 3   Monthly_Rental     26 non-null     float64
 4   Subscription_Type  16 non-null     object
 5   Transfer_Medium    18 non-null     object
 6   TARIFF_NAME        21 non-null     object
 7   TARIFF_DESC        21 non-null     object
dtypes: float64(1), object(7)
memory usage: 8.1+ KB

In [151]:
product_df.to_csv("data/azure/VAS_package_content.csv")