In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from ast import literal_eval
from sklearn.decomposition import TruncatedSVD

In [4]:
user_profile = pd.read_csv("data/user_profile/prepared/User_Profile_Null_Handled.csv")

In [5]:
user_profile["Sub_Update_Status"].value_counts()

NO_INFO                30250
Promotion Upgrade       7369
Promotion Downgrade     4975
Name: Sub_Update_Status, dtype: int64

In [6]:
data=user_profile.iloc[:,[1,3,11,14,18,23,25,34,57,61,62]]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42594 entries, 0 to 42593
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ACCOUNT_NUM.hash       42594 non-null  object
 1   Voice_INCOMING_Scaled  42594 non-null  float64
 2   Voice_OUTGOING_Scaled  42594 non-null  float64
 3   IDD_INCOMING_Scaled    42594 non-null  float64
 4   IDD_OUTGOING_Scaled    42594 non-null  float64
 5   PEO_TV_Scaled          42594 non-null  float64
 6   BB_Scaled              42594 non-null  float64
 7   Sub_Type               42594 non-null  object
 8   Product_Type           42594 non-null  object
 9   Sub_Update_Status      42594 non-null  object
 10  Sub_Update             42594 non-null  object
dtypes: float64(6), object(5)
memory usage: 3.6+ MB

In [9]:
data_dim=data.iloc[:,1:7]

In [12]:
pc=PCA(n_components=6) 
pc.fit(data_dim)

PCA(n_components=6)

In [13]:
#How mucb variance, captured together
pc.explained_variance_ratio_.cumsum()

array([0.53436097, 0.85728507, 0.94419659, 0.97438368, 0.99002141,
       1.        ])

In [14]:
### Run PCA on the data and reduce the dimensions in pca_num_components dimensions
pca = PCA(n_components=1)
pca.fit(data_dim)
reduced_data = pca.fit_transform(data_dim)
results_df = pd.DataFrame(reduced_data,columns=['usage'])

In [15]:
# applying min-max-scaler to reduced features
scaler = MinMaxScaler()
results_df[['usage']] = scaler.fit_transform(results_df[['usage']])

In [16]:
data=pd.concat([data,results_df],axis=1)

In [17]:
data_triplet = data[["ACCOUNT_NUM.hash","Sub_Type","usage"]]
data_triplet

                       ACCOUNT_NUM.hash        Sub_Type     usage
0      9efd917f18bb5c966953b4227ddbaf43     TRIPLE_PLAY  0.304039
1      2240d11b0d9ee8f6d9e8972c6190aa42     SINGLE_PLAY  0.006179
2      cff00495fd556a417e2838e27465d749  DOUBLE_PLAY_BV  0.309183
3      d00dacd8fc98c1726d6a4e9f28f8e579     TRIPLE_PLAY  0.154406
4      a3ee54787617510a616dfcb52c28941b     TRIPLE_PLAY  0.158567
...                                 ...             ...       ...
42589  7052930957f02ad914dbd24fdcd04fed  DOUBLE_PLAY_BV  0.398034
42590  c217fb1b44642e79e56af9111e9c00b2     TRIPLE_PLAY  0.799978
42591  5e94646aa83bb9d7fab98620405517cb  DOUBLE_PLAY_BV  0.011400
42592  6801a82b67b7fb942242b7aca5ba022c  DOUBLE_PLAY_BV  0.525596
42593  92da7428aa4a85439d5cb1adc7eb7fba     TRIPLE_PLAY  0.423210

[42594 rows x 3 columns]

## Interaction Matrix

In [18]:
# create the user item matrix using the ratings dataset - Hint: try using pivot function 
interactions_metrix = data_triplet.pivot_table(index="ACCOUNT_NUM.hash", columns="Sub_Type", values="usage")
interactions_metrix

Sub_Type,4G,DOUBLE_PLAY_BV,DOUBLE_PLAY_PV,SINGLE_PLAY,TRIPLE_PLAY
ACCOUNT_NUM.hash,,,,,
0003102d10a11c8f2f0f241f00a36b2d,NaN,NaN,NaN,NaN,0.377181
0003df7598926f578f53ecd9e424f3c9,NaN,0.274631,NaN,NaN,NaN
00092b1fd47eb05d000a3553ae072056,NaN,NaN,NaN,NaN,0.364527
00094326efae1d73371d118204e12e46,NaN,NaN,0.110893,NaN,NaN
000ae59b7eb91e778f22e3f07495f4f9,NaN,0.538300,NaN,NaN,NaN
...,...,...,...,...,...
fff9148b195a844454cf5b07c2fccbcb,NaN,NaN,0.140922,NaN,NaN
fffaeeddaabbd2868c183d8884b2a98d,NaN,NaN,NaN,NaN,0.432613
fffd0b8541e9f62496092d2ea8609135,NaN,NaN,NaN,NaN,0.675962
ffff7fc0c266ac5b34f91de1ba4f3039,NaN,NaN,NaN,NaN,0.299851
ffffe6d0d44f76428f676bd36e83df76,NaN,NaN,NaN,0.006392,NaN

In [19]:
#interactions_metrix.reset_index(inplace=True)
interactions_metrix = interactions_metrix.fillna(0)

In [22]:
X = interactions_metrix.values.T

In [25]:
X.shape

(5, 42594)

## SVD Model

In [28]:
SVD = TruncatedSVD(n_components=200, random_state=0)
matrix = SVD.fit_transform(X)
matrix.shape

(5, 5)