In [135]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import ast

In [136]:
user_profile = pd.read_csv("data/user_profile/prepared/User_Profile.csv")

In [137]:
vas_final_df = pd.read_csv("data/user_profile/Package_Final_list.csv")

In [138]:
def megaline_vas(vas):
    if 'Megaline' in vas:
        return "YES"

In [139]:
def ftth_vas(vas):
    if 'FTTH' in vas:
        return "YES"

In [140]:
vas_final_df.drop(["Unnamed: 0","One_Time_Charge"],axis=1,inplace=True)

In [141]:
vas_final_df["is_VAS"].value_counts()

NO     52931
YES     9192
Name: is_VAS, dtype: int64

In [142]:
vas_final_df["is_Subscription"].value_counts()

YES    45925
NO     16198
Name: is_Subscription, dtype: int64

In [143]:
vas_final_df = vas_final_df[(vas_final_df["FREE_or_PAID"] != "FREE")]

In [144]:
vas_final_df = vas_final_df[(vas_final_df["is_VAS"] == "YES")]

In [145]:
vas_final_df = vas_final_df[["ACCOUNT_NUM.hash","Package","Rental"]]

In [146]:
vas_final_df[['ACCOUNT_NUM.hash','Package']].value_counts()

ACCOUNT_NUM.hash                  Package
bd0cc5e96b24df6625fc68cbaf71b555  BB Report Subscription Charge    60
4c7a4769273c7a2eb4860a09f6376a70  BB Report Subscription Charge    35
729e0a0a75015a8908d0989386f4454e  Meet Max                         33
8d8472d39b270801553f2d5e7c06fe22  BB Report Subscription Charge    30
cc88c49f580c13600e99dfd9920d05e9  BB Report Subscription Charge    26
                                                                   ..
713aa417c219621eb60e65c2f05d3d22  AB Service Vacation               1
7176a9583c08811399dda24fa5dfc7e7  Basic Phone Installment           1
7187391b66100468034c6a404568e258  Basic1 TeleLife                   1
71a4336530295c2214c34da55f5ce115  Basic1 TeleLife                   1
7b02996f8fd2ce388417eb6ac225235e  AB Service Vacation               1
Length: 1634, dtype: int64

## User - package ratings

In [147]:
vas_final_df["tempCount"]=1

In [148]:
vas_agg_df = vas_final_df.groupby(['ACCOUNT_NUM.hash','Package']).agg(list)

In [149]:
vas_agg_df.reset_index(level=0, inplace=True)
vas_agg_df.reset_index(level=0, inplace=True)

In [150]:
vas_agg_df["tempCount"] = vas_agg_df["tempCount"].apply(lambda x: sum(x))

In [151]:
vas_agg_df["Rental"] = vas_agg_df["Rental"].apply(lambda x: x[0])

In [152]:
vas_agg_df[["Rental","tempCount"]] = vas_agg_df[["Rental","tempCount"]].fillna(0)

In [153]:
vas_agg_df["ratings"] =  vas_agg_df.apply(lambda x: x["Rental"]*x["Rental"],axis=1)

In [154]:
vas_agg_df.drop(["Rental","tempCount"],axis=1,inplace=True)

In [155]:
vas_agg_df.rename(columns={"Package":"package"},inplace=True)

In [156]:
vas_agg_df= vas_agg_df[["ACCOUNT_NUM.hash","package","ratings"]]

In [157]:
vas_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCOUNT_NUM.hash  1634 non-null   object
 1   package           1634 non-null   object
 2   ratings           1634 non-null   float64
dtypes: float64(1), object(2)
memory usage: 38.4+ KB

In [109]:
scaler = MinMaxScaler()
vas_agg_df["ratings"] = scaler.fit_transform(vas_agg_df["ratings"].values.reshape(-1,1))

In [110]:
vas_agg_df["ratings"].value_counts()

0.000000    889
0.000909    273
0.002525    263
0.000404     57
0.006067     38
0.000227     38
1.000000     18
0.000511     18
0.006875     11
0.015782      6
0.010000      4
0.000631      4
0.002045      3
0.030934      3
0.015656      2
0.011673      2
0.053433      1
0.022575      1
0.278402      1
0.005606      1
0.005682      1
Name: ratings, dtype: int64

In [111]:
vas_agg_df

                      ACCOUNT_NUM.hash                    package   ratings
0     0009e7e4d940c2a539b89342af07e7f1        AB Service Vacation  0.000000
1     008bca99f0cccb5d07d4f03744709cf8                Installment  0.000000
2     009ef2d25878cecee8d2c8115d26f4ab            Basic1 TeleLife  0.000909
3     009ef2d25878cecee8d2c8115d26f4ab            Basic2 TeleLife  0.002045
4     009ef2d25878cecee8d2c8115d26f4ab             Plus1 TeleLife  0.002525
...                                ...                        ...       ...
1629  fe3bcb8c980fa7d05c7a7c62574ebe3e  E channeling Registration  0.000000
1630  fe48f49bbd4bdae38c0e533904700290            Basic1 TeleLife  0.000909
1631  ff6a9ebde4f19c42c852aa679c877b41  E channeling Registration  0.000000
1632  ffaa8955dcd8a0af7d148c10fd447fcc                  Meet Lite  0.000000
1633  ffaa8955dcd8a0af7d148c10fd447fcc             Plus1 TeleLife  0.002525

[1634 rows x 3 columns]

In [78]:
vas_agg_df.to_csv("data/azure/VAS_user_ratings.csv")

## User content

In [9]:
user_profile.drop(["Unnamed: 0"],axis=1,inplace=True)

In [10]:
user_profile["Sub_Update_Status"].value_counts()

Promotion Upgrade      394
Promotion Downgrade    266
Name: Sub_Update_Status, dtype: int64

In [12]:
user_profile = user_profile[(user_profile["VAS_Package"].notna())]
user_profile.reset_index(drop=True, inplace=True)

In [13]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 96 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ACCOUNT_NUM.hash                          962 non-null    object
 1   CUSTOMER_REF.hash                         962 non-null    object
 2   OFFNET_INCOMING_Scaled                    962 non-null    float64
 3   OFFNET_INCOMING_Categorical               962 non-null    object
 4   OFFNET_INCOMING_Outlier                   962 non-null    object
 5   OFFNET_OUTGOING_Categorical               943 non-null    object
 6   OFFNET_OUTGOING_Scaled                    943 non-null    float64
 7   OFFNET_OUTGOING_Outlier                   943 non-null    object
 8   ONNET_INCOMING_Categorical                948 non-null    object
 9   ONNET_INCOMING_Scaled                     948 non-null    float64
 10  ONNET_INCOMING_Outlier                    948 non-null    object
 11  ONNET_OUTGOING_Categorical                951 non-null    object
 12  ONNET_OUTGOING_Scaled                     951 non-null    float64
 13  ONNET_OUTGOING_Outlier                    951 non-null    object
 14  IDD_INCOMING_Categorical                  473 non-null    object
 15  IDD_INCOMING_Scaled                       473 non-null    float64
 16  IDD_INCOMING_Outlier                      473 non-null    object
 17  IDD_incoming_country                      473 non-null    object
 18  IDD_OUTGOING_Categorical                  152 non-null    object
 19  IDD_OUTGOING_Scaled                       152 non-null    float64
 20  IDD_OUTGOING_Outlier                      152 non-null    object
 21  IDD_outgoing_Cumulative_Revenue           152 non-null    float64
 22  IDD_outgoing_country                      152 non-null    object
 23  Peo_TV_Package                            515 non-null    object
 24  PEO_TV_Categorical                        515 non-null    object
 25  PEO_TV_Scaled                             515 non-null    float64
 26  event_source.hash                         515 non-null    object
 27  BB_Categorical                            510 non-null    object
 28  BB_Scaled                                 510 non-null    float64
 29  BB_Package                                585 non-null    object
 30  TARIFF_NAME                               962 non-null    object
 31  BB_Medium                                 585 non-null    object
 32  Location_Identifier                       962 non-null    object
 33  GENDER                                    835 non-null    object
 34  BIRTH_YEAR                                835 non-null    float64
 35  AGE                                       835 non-null    float64
 36  ONNET_Overall_Categorical                 959 non-null    object
 37  OFFNET_Overall_Categorical                962 non-null    object
 38  IDD_Overall_Categorical                   491 non-null    object
 39  VOICE_Categorical                         954 non-null    object
 40  Subscription                              286 non-null    object
 41  Sub_Type                                  962 non-null    object
 42  Sub_Usage                                 962 non-null    object
 43  Sub_Type_State                            962 non-null    object
 44  Megaline_Package                          962 non-null    object
 45  Megaline_Month_Subscribed                 962 non-null    object
 46  Megaline_Rental                           962 non-null    object
 47  Megaline_One_Time_Charge                  962 non-null    object
 48  Package_Type                              962 non-null    object
 49  FTTH_Package                              47 non-null     object
 50  FTTH_Month_Subscribed                     47 non-null     object
 51  FTTH_Rental                               47 non-null     object
 52  FTTH_One_Time_Charge                      47 non-null     object
 53  VAS_Package                               962 non-null    object
 54  VAS_Month_Subscribed                      962 non-null    object
 55  VAS_Rental                                962 non-null    object
 56  VAS_One_Time_Charge                       962 non-null    object
 57  Product_Type                              962 non-null    object
 58  MEDIUM                                    915 non-null    object
 59  Sub_Update_Date                           284 non-null    object
 60  Sub_Update_Status                         284 non-null    object
 61  Sub_Update                                284 non-null    object
 62  BB_Extra_GB_Usage_Times                   592 non-null    float64
 63  BB_Extra_GB_Month_vs_Rental               592 non-null    object
 64  BB_Extra_GB_Purchased_Scaled              592 non-null    float64
 65  BB_Extra_GB_Purchase_Categorical          592 non-null    object
 66  BB_Extra_GB_Amount                        387 non-null    float64
 67  Peo_Extra_Channels_Cumulative_Rental      47 non-null     float64
 68  Peo_Extra_Channels_Month_vs_Rental        47 non-null     object
 69  Peo_Extra_Channels_Purchased_Scaled       47 non-null     float64
 70  Peo_Extra_Channels_Purchased_Categorical  47 non-null     object
 71  Having_Insurance                          415 non-null    object
 72  Having_Senior_Citizen_Scaled              962 non-null    float64
 73  Having_Senior_Citizen                     426 non-null    object
 74  Having_Kids_at_Home_Scaled                962 non-null    float64
 75  Having_Kids_at_Home                       157 non-null    object
 76  SMEs_Scaled                               962 non-null    float64
 77  SMEs                                      23 non-null     object
 78  Having_Teenagers_Students_Scaled          962 non-null    float64
 79  Having_Teenagers_Students                 209 non-null    object
 80  Having_Working_Professionals_Scaled       962 non-null    float64
 81  Having_Working_Professionals              296 non-null    object
 82  Having_Family_Member_Abroad_Scaled        962 non-null    float64
 83  Having_Family_Member_Abroad               286 non-null    object
 84  Tamil_Customer                            96 non-null     object
 85  Peo_Packages_if_Senior_Citizen            962 non-null    float64
 86  Peo_Packages_if_Kids                      962 non-null    float64
 87  Peo_Packages_if_Teenager_Students         962 non-null    float64
 88  Peo_Package_if_Working_Professionals      962 non-null    float64
 89  BB_Package_if_Working_Professionals       962 non-null    float64
 90  BB_Packages_if_Teenager_Students          962 non-null    float64
 91  BB_Packages_if_SMEss                      962 non-null    float64
 92  VAS_if_Kids                               962 non-null    float64
 93  VAS_if_Teenager_Students                  962 non-null    float64
 94  VAS_if_Working_Professionals              962 non-null    float64
 95  IDD_if_Family_Member_Abroad               962 non-null    float64
dtypes: float64(33), object(63)
memory usage: 721.6+ KB

In [14]:
user_df=user_profile.iloc[:,[0,2,4,6,7,9,10,12,13,15,16,17,19,20,22,23,25,29,28,30,32,33,41,44,48,53,55,56,57,58,61,64,66,69,71,72,76,78,80,82,84]]

### Handeling Null Values

In [16]:
cat_cols = user_df.select_dtypes(include='object').columns
user_df[cat_cols] = user_df[cat_cols].fillna("")

#voice_udf[scaled_cols] = voice_udf[scaled_cols].fillna(0)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [17]:
zero_cols = ["PEO_TV_Scaled","BB_Scaled","Peo_Extra_Channels_Purchased_Scaled","IDD_INCOMING_Scaled","IDD_OUTGOING_Scaled","BB_Extra_GB_Purchased_Scaled","BB_Extra_GB_Amount"]
user_df[zero_cols] = user_df[zero_cols].fillna(0)

In [19]:
mean_cols = ["OFFNET_INCOMING_Scaled","OFFNET_OUTGOING_Scaled","ONNET_INCOMING_Scaled","ONNET_OUTGOING_Scaled"]
for col in mean_cols:
    user_df[col] = user_df[col].fillna(user_df[col].mean())

<ipython-input-19-2051c999fa4e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df[col] = user_df[col].fillna(user_df[col].mean())

In [20]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 41 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ACCOUNT_NUM.hash                     962 non-null    object
 1   OFFNET_INCOMING_Scaled               962 non-null    float64
 2   OFFNET_INCOMING_Outlier              962 non-null    object
 3   OFFNET_OUTGOING_Scaled               962 non-null    float64
 4   OFFNET_OUTGOING_Outlier              962 non-null    object
 5   ONNET_INCOMING_Scaled                962 non-null    float64
 6   ONNET_INCOMING_Outlier               962 non-null    object
 7   ONNET_OUTGOING_Scaled                962 non-null    float64
 8   ONNET_OUTGOING_Outlier               962 non-null    object
 9   IDD_INCOMING_Scaled                  962 non-null    float64
 10  IDD_INCOMING_Outlier                 962 non-null    object
 11  IDD_incoming_country                 962 non-null    object
 12  IDD_OUTGOING_Scaled                  962 non-null    float64
 13  IDD_OUTGOING_Outlier                 962 non-null    object
 14  IDD_outgoing_country                 962 non-null    object
 15  Peo_TV_Package                       962 non-null    object
 16  PEO_TV_Scaled                        962 non-null    float64
 17  BB_Package                           962 non-null    object
 18  BB_Scaled                            962 non-null    float64
 19  TARIFF_NAME                          962 non-null    object
 20  Location_Identifier                  962 non-null    object
 21  GENDER                               962 non-null    object
 22  Sub_Type                             962 non-null    object
 23  Megaline_Package                     962 non-null    object
 24  Package_Type                         962 non-null    object
 25  VAS_Package                          962 non-null    object
 26  VAS_Rental                           962 non-null    object
 27  VAS_One_Time_Charge                  962 non-null    object
 28  Product_Type                         962 non-null    object
 29  MEDIUM                               962 non-null    object
 30  Sub_Update                           962 non-null    object
 31  BB_Extra_GB_Purchased_Scaled         962 non-null    float64
 32  BB_Extra_GB_Amount                   962 non-null    float64
 33  Peo_Extra_Channels_Purchased_Scaled  962 non-null    float64
 34  Having_Insurance                     962 non-null    object
 35  Having_Senior_Citizen_Scaled         962 non-null    float64
 36  SMEs_Scaled                          962 non-null    float64
 37  Having_Teenagers_Students_Scaled     962 non-null    float64
 38  Having_Working_Professionals_Scaled  962 non-null    float64
 39  Having_Family_Member_Abroad_Scaled   962 non-null    float64
 40  Tamil_Customer                       962 non-null    object
dtypes: float64(16), object(25)
memory usage: 308.3+ KB

In [21]:
user_df.to_csv("data/azure/VAS_user_content.csv")

## Product (package) content

In [158]:
product_profile = pd.read_csv("data/product_catalog/Packages_Info.csv")

In [159]:
product_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Package          103 non-null    object
 1   Rental           17 non-null     float64
 2   One_Time_Charge  3 non-null      float64
 3   Package_Type     103 non-null    object
 4   Product_Type     22 non-null     object
 5   MEDIUM           18 non-null     object
 6   TARIFF_NAME      18 non-null     object
 7   TARIFF_DESC      18 non-null     object
 8   is_VAS           103 non-null    object
 9   FREE_or_PAID     103 non-null    object
dtypes: float64(2), object(8)
memory usage: 8.2+ KB

In [160]:
temp_package_df=vas_agg_df["package"]

In [161]:
vas_products_df = product_profile.merge(temp_package_df.drop_duplicates(), left_on=['Package'] , right_on=["package"],
                   how='left', indicator=True)

In [162]:
vas_products_df = vas_products_df[(vas_products_df["_merge"]=="both")]
vas_products_df.drop(["_merge"],axis=1,inplace=True)
vas_products_df.reset_index(drop=True, inplace=True)

In [163]:
# Many columns have no values. Dropping 
vas_products_df.dropna(how="all",axis=0,inplace=True)
vas_products_df.dropna(how="all",axis=1,inplace=True)

In [164]:
vas_products_df.drop(["One_Time_Charge"],axis=1, inplace=True)

In [165]:
cat_cols = vas_products_df.select_dtypes(include='object').columns
vas_products_df[cat_cols] = vas_products_df[cat_cols].fillna("NO_INFO")

In [166]:
cat_cols = vas_products_df.select_dtypes(include='float64').columns
vas_products_df[cat_cols] = vas_products_df[cat_cols].fillna(0)

In [167]:
vas_products_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 44
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Package       45 non-null     object
 1   Rental        45 non-null     float64
 2   Package_Type  45 non-null     object
 3   Product_Type  45 non-null     object
 4   MEDIUM        45 non-null     object
 5   TARIFF_NAME   45 non-null     object
 6   TARIFF_DESC   45 non-null     object
 7   is_VAS        45 non-null     object
 8   FREE_or_PAID  45 non-null     object
 9   package       45 non-null     object
dtypes: float64(1), object(9)
memory usage: 3.9+ KB

In [170]:
vas_products_df.to_csv("data/azure/VAS_package_content.csv")