In [156]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import ast

In [157]:
user_profile = pd.read_csv("data/user_profile/prepared/User_Profile_Null_Handled.csv")

In [158]:
user_all_df = pd.read_csv("data/user_profile/account_no_map_all.csv")

In [159]:
vas_final_df = pd.read_csv("data/user_profile/Package_Final_list.csv")

/Users/chiranhewawitharana/mambaforge/envs/mactf/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [160]:
user_all_df.drop(["Unnamed: 0"],axis=1,inplace=True)
user_profile.drop(["Unnamed: 0"],axis=1,inplace=True)
vas_final_df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [161]:
def megaline_vas(vas):
    if 'Megaline' in vas:
        return "YES"

In [162]:
def ftth_vas(vas):
    if 'FTTH' in vas:
        return "YES"

In [163]:
def lte_vas(vas):
    if 'LTE' in vas:
        return "YES"

In [164]:
vas_final_df["Product_Type"].value_counts()

Megaline    221031
LTE          80788
FTTH         11079
Name: Product_Type, dtype: int64

In [165]:
vas_final_df["is_VAS"].value_counts()

NO     279804
YES    157276
Name: is_VAS, dtype: int64

In [166]:
vas_final_df["is_Subscription"].value_counts()

YES    237206
NO     199874
Name: is_Subscription, dtype: int64

In [167]:
vas_final_df["FREE_or_PAID"].value_counts()

PAID    358831
FREE     78249
Name: FREE_or_PAID, dtype: int64

In [168]:
vas_final_df = vas_final_df[(vas_final_df["FREE_or_PAID"] == "PAID")]

In [169]:
vas_final_df = vas_final_df[(vas_final_df["is_VAS"] == "YES")]

In [170]:
vas_final_df["Rental"] = vas_final_df["Rental"].astype("float64")

In [171]:
vas_final_df = vas_final_df[(vas_final_df["Rental"]>=0)]

In [172]:
vas_final_df = vas_final_df[["ACCOUNT_NUM.hash","Package","Rental"]]

In [173]:
vas_final_df[['ACCOUNT_NUM.hash','Package']].value_counts()

ACCOUNT_NUM.hash                  Package
535d47ecb2a3b62ca643ae2ee53a03f8  Package Rental Through ADSL    10
b4e7b24adb8d28f888ddb8bd0b0eada3  Package Rental Through ADSL    10
d576655d87b99457aec96f0a9b5bc3c0  Package Rental Through ADSL    10
30a0698fe06d8876ab84770961a64841  Package Rental Through ADSL    10
a10f06b23d5182337cf47a14d188abee  Package Rental Through ADSL    10
                                                                 ..
6ee77b132985fc197384ab0846b47b05  V-Basic1_TeleLife               1
6ede3df0645b4e0a1a638b0802b42f83  Meet Max                        1
6edb363a5d4d81dc4d058e3014322011  Meet Max                        1
6ed6a8c4e226b4fb81b3c84f14f50761  V_Telehealth                    1
fffc0d3d866e438753451c3d428ab441  Meet Lite                       1
Length: 46253, dtype: int64

### VAS Package Names List

In [193]:
vas_final_df[["tempCount","Package"]].drop_duplicates(["Package"]).to_csv("data/product_catalog/VAS_Names.csv")

## User - package ratings

In [174]:
vas_final_df["tempCount"]=1

In [175]:
vas_agg_df = vas_final_df.groupby(['ACCOUNT_NUM.hash','Package']).agg(list)

In [176]:
vas_agg_df.reset_index(level=0, inplace=True)
vas_agg_df.reset_index(level=0, inplace=True)

In [177]:
vas_agg_df["tempCount"] = vas_agg_df["tempCount"].apply(lambda x: sum(x))

In [178]:
vas_agg_df["Rental"] = vas_agg_df["Rental"].apply(lambda x: x[0])

In [179]:
vas_agg_df[["Rental","tempCount"]] = vas_agg_df[["Rental","tempCount"]].fillna(0)

In [180]:
vas_agg_df["ratings"] =  vas_agg_df.apply(lambda x: x["Rental"]*x["tempCount"],axis=1)

In [181]:
vas_agg_df.drop(["Rental","tempCount"],axis=1,inplace=True)

In [182]:
vas_agg_df.rename(columns={"Package":"package"},inplace=True)

In [183]:
vas_agg_df= vas_agg_df[["ACCOUNT_NUM.hash","package","ratings"]]

In [184]:
scaler = MinMaxScaler()
vas_agg_df["ratings"] = scaler.fit_transform(vas_agg_df["ratings"].values.reshape(-1,1))

In [185]:
vas_agg_df["ratings"].describe()

count    46253.000000
mean         0.030412
std          0.038517
min          0.000000
25%          0.005900
50%          0.011504
75%          0.035221
max          1.000000
Name: ratings, dtype: float64

In [186]:
vas_agg_df.head()

                   ACCOUNT_NUM.hash                      package   ratings
0  0002c902cb09337514ca785ea1d3cded  Package Rental Through ADSL  0.023481
1  0003c76b4c2c7db8e62faa5f53081178                    Meet Lite  0.023009
2  0008dcbce843a8d3937815df0a951264                    Meet Lite  0.011504
3  00094326efae1d73371d118204e12e46            V-Basic1_TeleLife  0.003540
4  0009e7e4d940c2a539b89342af07e7f1          AB_Service Vacation  0.000000

In [187]:
vas_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46253 entries, 0 to 46252
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCOUNT_NUM.hash  46253 non-null  object
 1   package           46253 non-null  object
 2   ratings           46253 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [188]:
vas_agg_df.to_csv("data/azure/VAS_user_ratings.csv")

## User content

In [189]:
user_profile = user_profile[(user_profile["VAS_Package"] != "NO_INFO")]
user_profile.reset_index(drop=True, inplace=True)

In [190]:
user_profile.shape

(16011, 113)

## TODO : Feature Selection

In [191]:
user_profile.to_csv("data/azure/VAS_user_content.csv")

## Product (package) content

In [143]:
product_profile = pd.read_csv("data/product_catalog/Packages_Info.csv")

In [145]:
product_profile.drop(["Unnamed: 0"],axis=1,inplace=True)

In [146]:
product_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Package          141 non-null    object
 1   Rental           126 non-null    float64
 2   Package_Type     141 non-null    object
 3   Product_Type     35 non-null     object
 4   MEDIUM           22 non-null     object
 5   TARIFF_NAME      28 non-null     object
 6   TARIFF_DESC      28 non-null     object
 7   is_VAS           141 non-null    object
 8   is_Promotion     141 non-null    object
 9   is_Subscription  141 non-null    object
 10  FREE_or_PAID     141 non-null    object
dtypes: float64(1), object(10)
memory usage: 12.2+ KB

In [147]:
temp_package_df=vas_agg_df["package"]

In [148]:
vas_products_df = product_profile.merge(temp_package_df.drop_duplicates(), left_on=['Package'] , right_on=["package"],
                   how='left', indicator=True)

In [149]:
vas_products_df = vas_products_df[(vas_products_df["_merge"]=="both")]
vas_products_df.drop(["_merge"],axis=1,inplace=True)
vas_products_df.reset_index(drop=True, inplace=True)

In [150]:
# Many columns have no values. Dropping 
vas_products_df.dropna(how="all",axis=0,inplace=True)
vas_products_df.dropna(how="all",axis=1,inplace=True)

In [151]:
vas_products_df.drop(["is_VAS","is_Subscription"],axis=1, inplace=True)

In [152]:
cat_cols = vas_products_df.select_dtypes(include='object').columns
vas_products_df[cat_cols] = vas_products_df[cat_cols].fillna("NO_INFO")

In [153]:
cat_cols = vas_products_df.select_dtypes(include='float64').columns
vas_products_df[cat_cols] = vas_products_df[cat_cols].fillna(0)

In [154]:
vas_products_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Package       42 non-null     object
 1   Rental        42 non-null     float64
 2   Package_Type  42 non-null     object
 3   Product_Type  42 non-null     object
 4   MEDIUM        42 non-null     object
 5   TARIFF_NAME   42 non-null     object
 6   TARIFF_DESC   42 non-null     object
 7   is_Promotion  42 non-null     object
 8   FREE_or_PAID  42 non-null     object
 9   package       42 non-null     object
dtypes: float64(1), object(9)
memory usage: 3.6+ KB

In [155]:
vas_products_df.to_csv("data/azure/VAS_package_content.csv")