In [179]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import ast

In [180]:
user_profile = pd.read_csv("data/user_profile/prepared/User_Profile.csv")

In [181]:
vas_final_df = pd.read_csv("data/user_profile/Package_Final_list.csv")

In [182]:
def megaline_vas(vas):
    if 'Megaline' in vas:
        return "YES"

In [183]:
def ftth_vas(vas):
    if 'FTTH' in vas:
        return "YES"

In [184]:
vas_final_df.drop(["Unnamed: 0","One_Time_Charge"],axis=1,inplace=True)

In [185]:
vas_final_df["is_VAS"].value_counts()

NO     52931
YES     9192
Name: is_VAS, dtype: int64

In [186]:
vas_final_df["is_Subscription"].value_counts()

YES    45925
NO     16198
Name: is_Subscription, dtype: int64

In [187]:
vas_final_df = vas_final_df[(vas_final_df["FREE_or_PAID"] != "FREE")]

In [188]:
vas_final_df = vas_final_df[(vas_final_df["is_VAS"] == "YES")]

In [189]:
vas_final_df = vas_final_df[["ACCOUNT_NUM.hash","Package","Rental"]]

In [190]:
vas_final_df[['ACCOUNT_NUM.hash','Package']].value_counts()

ACCOUNT_NUM.hash                  Package
bd0cc5e96b24df6625fc68cbaf71b555  BB Report Subscription Charge    60
4c7a4769273c7a2eb4860a09f6376a70  BB Report Subscription Charge    35
729e0a0a75015a8908d0989386f4454e  Meet Max                         33
8d8472d39b270801553f2d5e7c06fe22  BB Report Subscription Charge    30
cc88c49f580c13600e99dfd9920d05e9  BB Report Subscription Charge    26
                                                                   ..
713aa417c219621eb60e65c2f05d3d22  AB Service Vacation               1
7176a9583c08811399dda24fa5dfc7e7  Basic Phone Installment           1
7187391b66100468034c6a404568e258  Basic1 TeleLife                   1
71a4336530295c2214c34da55f5ce115  Basic1 TeleLife                   1
7b02996f8fd2ce388417eb6ac225235e  AB Service Vacation               1
Length: 1634, dtype: int64

## User - package ratings

In [191]:
vas_final_df["tempCount"]=1

In [192]:
vas_agg_df = vas_final_df.groupby(['ACCOUNT_NUM.hash','Package']).agg(list)

In [193]:
vas_agg_df.reset_index(level=0, inplace=True)
vas_agg_df.reset_index(level=0, inplace=True)

In [194]:
vas_agg_df["tempCount"] = vas_agg_df["tempCount"].apply(lambda x: sum(x))

In [195]:
vas_agg_df["Rental"] = vas_agg_df["Rental"].apply(lambda x: x[0])

In [196]:
vas_agg_df[["Rental","tempCount"]] = vas_agg_df[["Rental","tempCount"]].fillna(0)

In [197]:
vas_agg_df["ratings"] =  vas_agg_df.apply(lambda x: x["Rental"]*x["Rental"],axis=1)

In [198]:
vas_agg_df.drop(["Rental","tempCount"],axis=1,inplace=True)

In [199]:
vas_agg_df.rename(columns={"Package":"package"},inplace=True)

In [200]:
vas_agg_df= vas_agg_df[["ACCOUNT_NUM.hash","package","ratings"]]

In [201]:
vas_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCOUNT_NUM.hash  1634 non-null   object
 1   package           1634 non-null   object
 2   ratings           1634 non-null   float64
dtypes: float64(1), object(2)
memory usage: 38.4+ KB

In [202]:
scaler = MinMaxScaler()
vas_agg_df["ratings"] = scaler.fit_transform(vas_agg_df["ratings"].values.reshape(-1,1))

In [203]:
vas_agg_df["ratings"].value_counts()

0.000000    889
0.000909    273
0.002525    263
0.000404     57
0.006067     38
0.000227     38
1.000000     18
0.000511     18
0.006875     11
0.015782      6
0.010000      4
0.000631      4
0.002045      3
0.030934      3
0.015656      2
0.011673      2
0.053433      1
0.022575      1
0.278402      1
0.005606      1
0.005682      1
Name: ratings, dtype: int64

In [204]:
vas_agg_df["package"].unique()

array(['AB Service Vacation', 'Installment', 'Basic1 TeleLife',
       'Basic2 TeleLife', 'Plus1 TeleLife', 'E channeling Registration',
       'Edu Lite', 'Meet Lite', 'Sisu Connect',
       'E channeling Subscription', 'Video on Demand', 'AB Rental Free',
       'BB Detailed Reports ', 'BB Entertainment Unlimited',
       'BB Report Subscription Charge', 'BB YouTube Bundle',
       'Hotline Immediate', 'Hotline Time Delayed',
       'PeoTPackage Transfer', 'Telehealth', 'IDD', 'BB Messenger Bundle',
       'AB Referral offer Discount', 'Referral offer Discount',
       'Basic Phone Installment', 'AB Additional Distance', 'Meet Max',
       'PEO TV GO OTT A la carte channels', 'AB Citylink Loyalty Rewards',
       'Railway Registration', 'OTT SLT PeoTV Go',
       'PeoTVGo Channel Package', 'Plus4 TeleLife',
       'BB SLT Film Hall Service', 'Package Rental Through ADSL',
       'Additional features Double VAS Bundle', 'Call park',
       'M Activation Charge', 'BB PeoTVGO Revenue code',
       'Cordeless Phone  Installment', 'Detailed Bill', 'Basic4 TeleLife',
       'One Time Detailed Bill', 'Removal of Int & Parallel Ext',
       'Miscellaneous Service'], dtype=object)

In [205]:
vas_agg_df

                      ACCOUNT_NUM.hash                    package   ratings
0     0009e7e4d940c2a539b89342af07e7f1        AB Service Vacation  0.000000
1     008bca99f0cccb5d07d4f03744709cf8                Installment  0.000000
2     009ef2d25878cecee8d2c8115d26f4ab            Basic1 TeleLife  0.000909
3     009ef2d25878cecee8d2c8115d26f4ab            Basic2 TeleLife  0.002045
4     009ef2d25878cecee8d2c8115d26f4ab             Plus1 TeleLife  0.002525
...                                ...                        ...       ...
1629  fe3bcb8c980fa7d05c7a7c62574ebe3e  E channeling Registration  0.000000
1630  fe48f49bbd4bdae38c0e533904700290            Basic1 TeleLife  0.000909
1631  ff6a9ebde4f19c42c852aa679c877b41  E channeling Registration  0.000000
1632  ffaa8955dcd8a0af7d148c10fd447fcc                  Meet Lite  0.000000
1633  ffaa8955dcd8a0af7d148c10fd447fcc             Plus1 TeleLife  0.002525

[1634 rows x 3 columns]

In [206]:
vas_agg_df.to_csv("data/azure/VAS_user_ratings.csv")

## User content

In [207]:
user_profile.drop(["Unnamed: 0"],axis=1,inplace=True)

In [208]:
user_profile["Sub_Update_Status"].value_counts()

Promotion Upgrade      394
Promotion Downgrade    266
Name: Sub_Update_Status, dtype: int64

In [209]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 96 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ACCOUNT_NUM.hash                          2916 non-null   object
 1   CUSTOMER_REF.hash                         2916 non-null   object
 2   OFFNET_INCOMING_Scaled                    2916 non-null   float64
 3   OFFNET_INCOMING_Categorical               2916 non-null   object
 4   OFFNET_INCOMING_Outlier                   2916 non-null   object
 5   OFFNET_OUTGOING_Categorical               2809 non-null   object
 6   OFFNET_OUTGOING_Scaled                    2809 non-null   float64
 7   OFFNET_OUTGOING_Outlier                   2809 non-null   object
 8   ONNET_INCOMING_Categorical                2833 non-null   object
 9   ONNET_INCOMING_Scaled                     2833 non-null   float64
 10  ONNET_INCOMING_Outlier                    2833 non-null   object
 11  ONNET_OUTGOING_Categorical                2832 non-null   object
 12  ONNET_OUTGOING_Scaled                     2832 non-null   float64
 13  ONNET_OUTGOING_Outlier                    2832 non-null   object
 14  IDD_INCOMING_Categorical                  1445 non-null   object
 15  IDD_INCOMING_Scaled                       1445 non-null   float64
 16  IDD_INCOMING_Outlier                      1445 non-null   object
 17  IDD_incoming_country                      1445 non-null   object
 18  IDD_OUTGOING_Categorical                  477 non-null    object
 19  IDD_OUTGOING_Scaled                       477 non-null    float64
 20  IDD_OUTGOING_Outlier                      477 non-null    object
 21  IDD_outgoing_Cumulative_Revenue           477 non-null    float64
 22  IDD_outgoing_country                      477 non-null    object
 23  Peo_TV_Package                            1142 non-null   object
 24  PEO_TV_Categorical                        1142 non-null   object
 25  PEO_TV_Scaled                             1142 non-null   float64
 26  event_source.hash                         1142 non-null   object
 27  BB_Categorical                            1113 non-null   object
 28  BB_Scaled                                 1113 non-null   float64
 29  BB_Package                                1352 non-null   object
 30  TARIFF_NAME                               2916 non-null   object
 31  BB_Medium                                 1352 non-null   object
 32  Location_Identifier                       2916 non-null   object
 33  GENDER                                    2237 non-null   object
 34  BIRTH_YEAR                                2237 non-null   float64
 35  AGE                                       2237 non-null   float64
 36  ONNET_Overall_Categorical                 2890 non-null   object
 37  OFFNET_Overall_Categorical                2916 non-null   object
 38  IDD_Overall_Categorical                   1499 non-null   object
 39  VOICE_Categorical                         2867 non-null   object
 40  Subscription                              668 non-null    object
 41  Sub_Type                                  2916 non-null   object
 42  Sub_Usage                                 2916 non-null   object
 43  Sub_Type_State                            2916 non-null   object
 44  Megaline_Package                          2916 non-null   object
 45  Megaline_Month_Subscribed                 2916 non-null   object
 46  Megaline_Rental                           2916 non-null   object
 47  Megaline_One_Time_Charge                  2916 non-null   object
 48  Package_Type                              2916 non-null   object
 49  FTTH_Package                              88 non-null     object
 50  FTTH_Month_Subscribed                     88 non-null     object
 51  FTTH_Rental                               88 non-null     object
 52  FTTH_One_Time_Charge                      88 non-null     object
 53  VAS_Package                               962 non-null    object
 54  VAS_Month_Subscribed                      962 non-null    object
 55  VAS_Rental                                962 non-null    object
 56  VAS_One_Time_Charge                       962 non-null    object
 57  Product_Type                              962 non-null    object
 58  MEDIUM                                    2869 non-null   object
 59  Sub_Update_Date                           660 non-null    object
 60  Sub_Update_Status                         660 non-null    object
 61  Sub_Update                                660 non-null    object
 62  BB_Extra_GB_Usage_Times                   1394 non-null   float64
 63  BB_Extra_GB_Month_vs_Rental               1394 non-null   object
 64  BB_Extra_GB_Purchased_Scaled              1394 non-null   float64
 65  BB_Extra_GB_Purchase_Categorical          1394 non-null   object
 66  BB_Extra_GB_Amount                        568 non-null    float64
 67  Peo_Extra_Channels_Cumulative_Rental      47 non-null     float64
 68  Peo_Extra_Channels_Month_vs_Rental        47 non-null     object
 69  Peo_Extra_Channels_Purchased_Scaled       47 non-null     float64
 70  Peo_Extra_Channels_Purchased_Categorical  47 non-null     object
 71  Having_Insurance                          415 non-null    object
 72  Having_Senior_Citizen_Scaled              2916 non-null   float64
 73  Having_Senior_Citizen                     454 non-null    object
 74  Having_Kids_at_Home_Scaled                2916 non-null   float64
 75  Having_Kids_at_Home                       243 non-null    object
 76  SMEs_Scaled                               2916 non-null   float64
 77  SMEs                                      28 non-null     object
 78  Having_Teenagers_Students_Scaled          2916 non-null   float64
 79  Having_Teenagers_Students                 275 non-null    object
 80  Having_Working_Professionals_Scaled       2916 non-null   float64
 81  Having_Working_Professionals              395 non-null    object
 82  Having_Family_Member_Abroad_Scaled        2916 non-null   float64
 83  Having_Family_Member_Abroad               867 non-null    object
 84  Tamil_Customer                            190 non-null    object
 85  Peo_Packages_if_Senior_Citizen            2916 non-null   float64
 86  Peo_Packages_if_Kids                      2916 non-null   float64
 87  Peo_Packages_if_Teenager_Students         2916 non-null   float64
 88  Peo_Package_if_Working_Professionals      2916 non-null   float64
 89  BB_Package_if_Working_Professionals       2916 non-null   float64
 90  BB_Packages_if_Teenager_Students          2916 non-null   float64
 91  BB_Packages_if_SMEss                      2916 non-null   float64
 92  VAS_if_Kids                               2916 non-null   float64
 93  VAS_if_Teenager_Students                  2916 non-null   float64
 94  VAS_if_Working_Professionals              2916 non-null   float64
 95  IDD_if_Family_Member_Abroad               2916 non-null   float64
dtypes: float64(33), object(63)
memory usage: 2.1+ MB

In [210]:
user_df=user_profile.iloc[:,[0,17,22,23,25,28,29,30,32,33,35,38,39,41,44,48,49,53,57,58,61,64,69,71,84,78,80,76,74,72,82]]

### Handeling Null Values

In [212]:
cat_cols = ['Tamil_Customer', 'Having_Insurance']

user_df[cat_cols] = user_df[cat_cols].fillna("NO")

#voice_udf[scaled_cols] = voice_udf[scaled_cols].fillna(0)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [213]:
num_cols=["BB_Extra_GB_Purchased_Scaled","Peo_Extra_Channels_Purchased_Scaled"]
user_df[num_cols] = user_df[num_cols].fillna(0)

In [214]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 31 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ACCOUNT_NUM.hash                     2916 non-null   object
 1   IDD_incoming_country                 1445 non-null   object
 2   IDD_outgoing_country                 477 non-null    object
 3   Peo_TV_Package                       1142 non-null   object
 4   PEO_TV_Scaled                        1142 non-null   float64
 5   BB_Scaled                            1113 non-null   float64
 6   BB_Package                           1352 non-null   object
 7   TARIFF_NAME                          2916 non-null   object
 8   Location_Identifier                  2916 non-null   object
 9   GENDER                               2237 non-null   object
 10  AGE                                  2237 non-null   float64
 11  IDD_Overall_Categorical              1499 non-null   object
 12  VOICE_Categorical                    2867 non-null   object
 13  Sub_Type                             2916 non-null   object
 14  Megaline_Package                     2916 non-null   object
 15  Package_Type                         2916 non-null   object
 16  FTTH_Package                         88 non-null     object
 17  VAS_Package                          962 non-null    object
 18  Product_Type                         962 non-null    object
 19  MEDIUM                               2869 non-null   object
 20  Sub_Update                           660 non-null    object
 21  BB_Extra_GB_Purchased_Scaled         2916 non-null   float64
 22  Peo_Extra_Channels_Purchased_Scaled  2916 non-null   float64
 23  Having_Insurance                     2916 non-null   object
 24  Tamil_Customer                       2916 non-null   object
 25  Having_Teenagers_Students_Scaled     2916 non-null   float64
 26  Having_Working_Professionals_Scaled  2916 non-null   float64
 27  SMEs_Scaled                          2916 non-null   float64
 28  Having_Kids_at_Home_Scaled           2916 non-null   float64
 29  Having_Senior_Citizen_Scaled         2916 non-null   float64
 30  Having_Family_Member_Abroad_Scaled   2916 non-null   float64
dtypes: float64(11), object(20)
memory usage: 706.3+ KB

In [215]:
user_df.to_csv("data/azure/VAS_user_content.csv")

## Product (package) content

In [245]:
product_profile = pd.read_csv("data/product_catalog/Product_Profile_Finalised_CSV.csv")

In [246]:
product_df=product_profile.iloc[:,[0,1,2,3,5,6,14,15,35,37,38,39,42,43,44]]
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_ID         263 non-null    object
 1   Base_Type          241 non-null    object
 2   Pricing_Type       134 non-null    object
 3   Package_Type       134 non-null    object
 4   Title              134 non-null    object
 5   Description        47 non-null     object
 6   Price              133 non-null    object
 7   Monthly_Rental     141 non-null    float64
 8   Subscription_Type  151 non-null    object
 9   Recidence_Type     134 non-null    object
 10  Tax_Status         131 non-null    object
 11  Conditions         131 non-null    object
 12  Transfer_Medium    19 non-null     object
 13  TARIFF_NAME        22 non-null     object
 14  TARIFF_DESC        22 non-null     object
dtypes: float64(1), object(14)
memory usage: 30.9+ KB

In [247]:
temp_package_df=vas_agg_df["package"]

In [248]:
def drop_bb(col):
    if not isinstance(col,float):
        return col.replace("_","").replace("Fibre","").replace("4G","").replace("ADSL","").replace("1Gps","").replace("V-","").replace(" ","")

In [249]:
def drop_aa(col):
    if not isinstance(col,float):
        return col.replace("_","").replace("V-","").replace(" ","")

In [250]:
product_df["Product_ID"] = product_df["Product_ID"].apply(lambda x: drop_bb(x))

<ipython-input-250-d0ad7d355983>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df["Product_ID"] = product_df["Product_ID"].apply(lambda x: drop_bb(x))

In [251]:
temp_package_df = temp_package_df.apply(lambda x: drop_aa(x))

In [252]:
vas_products_df = product_df.merge(temp_package_df.drop_duplicates(), left_on=['Product_ID'], right_on=['package'] ,
                   how='left', indicator=True)

In [253]:
product_df = vas_products_df[(vas_products_df["_merge"]=="both")]

In [254]:
product_df.drop(["package","_merge"],axis=1,inplace=True)
product_df.rename(columns={'Product_ID':'package'},inplace=True)
product_df.reset_index(drop=True, inplace=True)

In [256]:
# Many columns have no values. Dropping 
product_df.dropna(how="all",axis=0,inplace=True)
product_df.dropna(how="all",axis=1,inplace=True)

<ipython-input-256-4095608be396>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df.dropna(how="all",axis=0,inplace=True)
<ipython-input-256-4095608be396>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df.dropna(how="all",axis=1,inplace=True)

In [257]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   package            23 non-null     object
 1   Base_Type          14 non-null     object
 2   Price              3 non-null      object
 3   Monthly_Rental     11 non-null     float64
 4   Subscription_Type  9 non-null      object
 5   Transfer_Medium    9 non-null      object
 6   TARIFF_NAME        9 non-null      object
 7   TARIFF_DESC        9 non-null      object
dtypes: float64(1), object(7)
memory usage: 1.6+ KB

In [258]:
product_df.to_csv("data/azure/VAS_package_content.csv")